h1,h2,h3,h4,h5,h6,p,ul{
    margin: 0;
}

header{
    background: url(../images/header_bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.navbar{
    padding-top: 22px;
}

/* .navbar-nav{
    max-width: 425px;
}

.navbar-collapse{
    width: 425px
} */

.navbar .navbar-brand{
    font-size: 24px;
    color: #ffffff !important;
    font-weight: 700;
}

.navbar .navbar-brand img{
    margin-right: 15px;
}

.navbar .nav-link{
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff !important;
    font-weight: 500;
    margin: 0 15px;
    padding-bottom: 7px;
    border-bottom: 4px solid transparent;
}

.navbar .nav-link:hover{
    border-bottom: 4px solid #fc635e;
    color: #fc635e !important;
}

header .col-xl-12 h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 51px;
    color: #ffffff;
    font-weight: 700;
    margin: 0px 10px 0;
    /* margin-bottom: 28px; */
}

header .col-xl-12_top{
    margin: 130px auto 0;
}

header .col-xl-12 h1 span{
    color: #fc635e;
}

.span_div{
    width: 107px;
    height: 8px;
    background: #4e4c4d;
}

header .col-xl-12 p{
    font-size: 24px;
    color: #ffffff;
    font-weight: 300;
    margin: 28px auto 50px;
}

header .col-xl-12 a{
    padding: 18px 36px;
    font-size: 24px;
    color: #fc635e;
    font-weight: 300;
    border: 2px solid #fc635e;
    border-radius: 10px;
}

header .col-xl-12 a:hover{
    text-decoration: none;
    color: #ffffff;
    background: #e6716d;
    border: 2px solid #fff;
}

.col-xl-12 .fa-long-arrow-down{
    margin: 240px auto 27px;
    color: #fff;
    background: #fc635e;
    border: 1px solid transparent;
    padding: 6px 10px;
    border-radius: 50%;
    cursor: pointer;
}

.col-xl-12 .fa-long-arrow-down:hover{
    color: #fc635e;
    background: #ffffff;
    border: 1px solid #fc635e;
}

header .mouse{
    position: absolute;
    top: 440px;
    left: 790px;
}

.icons .col-xl-12 h2{
    text-transform: uppercase;
    font-size: 28px;
    color: #868686;
    display: block;
    margin: 68px auto 13px;
}

.icons .col-xl-12 h2 span{
    color: #fc635e;
}

.icons_span{
    width: 340px;
    height: 1px;
    background: #adadad;
}

.icons .col-xl-12 p{
    font-size: 20px;
    color: #adadad;
    font-weight: 300;
    width: 532px;
    margin: 20px auto 80px;
}

.icons h3{
    text-transform: uppercase;
    margin: 21px auto 11px;
    font-size: 20px;
    color: #868686;
    font-weight: 500;
}

.icons .under_h3{
    width: 60px;
    height: 1px;
    background: #aea9a9;
}

.icons p{
    width: 204px;
    margin: 22px auto 51px;
    font-size: 15px;
    columns: #adadad;
    font-weight: 300;
}

.icons .fa-long-arrow-down{
    margin-top: 0;
    color: #fc635e;
    background: #ffffff;
    border: 1px solid #fc635e;
    margin-bottom: 15px;
}

.icons .fa-long-arrow-down:hover{
    color: #fff;
    background: #fc635e;
    border: 1px solid transparent;
}

.join{
    background: url(../images/section_bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.join h2{
    font-size: 51px;
    color: #fc635e;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 125px;
}

.join a{
    font-size: 24px;
    color: #fc635e;
    font-weight: 300;
    padding: 12px 50px;
    border: 3px solid #f95954;
    border-radius: 10px;
    margin-top: 51px;
    margin-bottom: 100px;
}

.join a:hover{
    text-decoration: none;
    color: #fff;
    background: #f95954;
    border: 3px solid #fff;
    
}

.join .father{
    border: 8px solid #524e5b; 
    margin: 90px auto 53px;
}

.join .fa-long-arrow-down{
    margin: 0 auto 20px;
}

.figure_sect h3{
    margin-top: 52px;
    padding-bottom: 12px;
    text-transform: uppercase;
    border-bottom: 1px solid #adadad;
    font-size: 28px;
    color: #868686;
    font-weight: 500;
}

.figure_sect h3 span{
    color: #fc635e;
}

.figure_sect p{
    width: 500px;
    margin: 20px auto 60px;
    text-align: center;
    font-size: 20px;
    color: #adadad;
    font-weight: 300;
}

.figure_sect .shablon h5{
    text-align: center;
    font-size: 24px;
    color: #868686;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1px solid #adadad;
    padding-bottom: 6px;
    width: 78px;
    margin: 0 auto
}

.figure_sect .shablon h5 span{
    color: #fc635e;
}

.figure_sect .shablon p{
    width: 130px;
    font-size: 15px;
    color: #9f9f9f;
    font-weight: 300;
    margin: 10px 0;
    padding: 0;
}

.figure_sect .shablon{
    height: 107px;
    position: absolute;
}

.figure_sect{
    position: relative;
}

.figure_sect .shablon1{
    top: 375px;
    left: 312px;
}

.figure_sect .shablon2{
    top: 433px;
    left: 578px;
}

.figure_sect .shablon3{
    top: 283px;
    left: 662px;
}

.figure_sect .shablon4{
    top: 370px;
    left: 843px;
}

.figure_sect .shablon4 p{
    width: 197px;
    
}
.col-xl-4_special{
    width: 390px;   
}

.figure_sect .fa-long-arrow-down{
    margin-top: 0;
    color: #fc635e;
    background: #ffffff;
    border: 1px solid #fc635e;
    margin-bottom: 15px;
}

.figure_sect .fa-long-arrow-down:hover{
    color: #fff;
    background: #fc635e;
    border: 1px solid transparent;
}

.figure_sect img{
    width: 100%
}

.adver{
    background: #f2f2f2;
}

.adver h3{
    padding-top: 61px;
    font-size: 28px;
    color: #868686;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 13px;
    border-bottom: 1px solid #adadad;
    margin-bottom: 67px;
}

.adver h3 span{
    color: #fc635e;
}

.adver .column_div{
  width: 240px;  
}

.adver .column_div h5{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
    color: #868686;
}

.adver .col-xl-6 p{
    font-weight: 300;
    font-size: 15px;
    color: #9e9898;
    width: 391px;
    margin: 20px 0 43px;
    line-height: 24px;
}

.adver .col-xl-6 a{
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 300;
    padding: 17px 32px;
    border-radius: 7px;
    background: #f95954;
    border: 3px solid transparent;
}

.adver .col-xl-6 a:hover{
    color: #f95954;
    background: #fff;
    border: 3px solid #f95954;   
    font-weight: 500; 
}

.adver .fa-long-arrow-down{
    margin-top: 50px;
    color: #fc635e;
    background: transparent;
    border: 1px solid #fc635e;
    margin-bottom: 15px;
}

.adver .fa-long-arrow-down:hover{
    color: #fff;
    background: #fc635e;
    border: 1px solid transparent;
}

.comp .column_div{
    width: 240px;  
  }
  
.comp .column_div h5{
      text-transform: uppercase;
      font-size: 28px;
      font-weight: 500;
      color: #868686;
  }
  
.comp .col-xl-6 p{
      font-weight: 300;
      font-size: 15px;
      columns: #9e9898;
      width: 391px;
      margin: 20px 0 43px;
      line-height: 24px;
      text-align: end
  }
  
.comp .col-xl-6 a{
      color: #f2f2f2;
      font-size: 20px;
      font-weight: 300;
      padding: 17px 32px;
      border-radius: 7px;
      background: #f95954;
}

.comp .col-xl-6 a:hover{
    color: #f95954;
    background: #fff;
    border: 3px solid #f95954;   
    font-weight: 500;
}
  
.comp .fa-long-arrow-down{
      margin-top: 50px;
      color: #fc635e;
      background: transparent;
      border: 1px solid #fc635e;
      margin-bottom: 15px;
  }
  
.comp .fa-long-arrow-down:hover{
      color: #fff;
      background: #fc635e;
      border: 1px solid transparent;
}

.comp{
    position: relative;
}

.comp .col-xl-4_special{
    position: absolute;
    left: 59%
}

.comp .column_div_special{
    position: absolute;
    left: 52%;
    top: -17%;
    width: 200px;
}

.comp .ssilka_for{
    position: absolute;
    left: 57%;
    top: 90%;
}

.comp{
    padding-top: 135px;
}

.comp .col-xl-12_extra{
    margin-bottom: 110px;
}

.jurnal .column_div{
    width: 230px;
}

.jurnal{
    padding-top: 140px;
}

.comp a:hover{
    text-decoration: none;
}

.adver a:hover{
    text-decoration: none;
}

.jurnal a:hover{
    text-decoration: none;
}

.photos{
    padding-top: 80px;
}

.photos h3{
    font-size: 28px;
    color: #868686;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 13px;
    margin-bottom: 40px;
    border-bottom: 1px solid #adadad;
}

.photos .col-xl-12 ul li{
    list-style: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #fa574d;
    font-weight: 300;
    padding: 24px 0 21px;
}

.photos .col-xl-12 ul li a{
    color: #fa574d;    
}

.photos .col-xl-12 ul li a:hover{
    text-decoration: none;
}

.photos .col-xl-12 ul li span{
    color: #676767;
}

.photos .col-xl-12_underline{
    border-top: 1px solid #adadad;
    border-bottom: 1px solid #adadad;
    margin-bottom: 47px;
}

.col-xl-6 .bottom_div img{
    margin: 10px auto 60px;
    /* height: 100% !important */
    /* I should finish it at the end!!! */
}

.spec_bike img{
    height: 200px;
    width: 525px;
    position: relative;
}

.spec_pre img{
    height: 200px;
    width: 257px;
    position: relative;
}

.spec_maga img{
    height: 200px;
    width: 257px;
    position: relative;
}

.spec_color img{
    height: 200px;
    width: 257px;
    position: relative;
}

.spec_bus img{
    height: 200px;
    width: 257px;
    position: relative;
}

.spec_car img{
    height: 200px;
    width: 525px;
    position: relative;
}

.photos .pages{
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 300;
    padding: 18px 20px;
    border-radius: 8px;
    background: #f95954;
    text-decoration: none;
    border: 1px solid transparent;
}

.photos .pages:hover{
    color: #f95954;
    background: #fff;
    border: 1px solid #f95954;
    font-weight: 500;
}

.col-xl-12 .fa-long-arrow-down{
    margin: 25px auto 14px;
    color: #fc635e;
    background: #fff;
    border: 1px solid #fc635e;
    padding: 6px 10px;
    border-radius: 50%;
    cursor: pointer;
}

.col-xl-12 .fa-long-arrow-down:hover{
    color: #fff;
    background: #fc635e;
    border: 1px solid transparent;
}

/* Beginning of the photo hovers */

.photos .col-xl-12 .spec_bike{
    position: relative;
    cursor: pointer;
}

.photos .col-xl-12 .plus_im img{
    height: 44px;
    width: 44px; 
}

.photos .col-xl-12 .spec_bike .plus_im{
    position: absolute;
    top: 50%;
    left: 46%;
    display: none;
}

/* .photos .col-xl-12 .spec_pre .plus_im{
    position: absolute;
    top: 30%;
    left: 46%;
    display: none;
}

.photos .col-xl-12 .spec_maga .plus_im{
    position: absolute;
    top: 30%;
    left: 46%;
    display: none;
}

.photos .col-xl-12 .spec_color .plus_im{
    position: absolute;
    top: 30%;
    left: 46%;
    display: none;
}

.photos .col-xl-12 .spec_bus .plus_im{
    position: absolute;
    top: 30%;
    left: 46%;
    display: none;
}

.photos .col-xl-12 .spec_car .plus_im{
    position: absolute;
    top: 30%;
    left: 46%;
    display: none;
} */
    /* All have done */
    
.photos .col-xl-12 .spec_bike:hover .plus_im{
    display: block;
}

/* .photos .col-xl-12 .spec_pre:hover .plus_im{
    display: block;
}

.photos .col-xl-12 .spec_maga:hover .plus_im{
    display: block;
}

.photos .col-xl-12 .spec_color:hover .plus_im{
    display: block;
}

.photos .col-xl-12 .spec_bus:hover .plus_im{
    display: block;
}

.photos .col-xl-12 .spec_car:hover .plus_im{
    display: block;
} */
/* Hovers have finished */

/* Name of the h4 */

.photos .col-xl-12 .spec_bike h4{
    position: absolute;
    text-transform: uppercase;
    font-size: 28px;
    color: #ffffff;
    font-weight: 700;
    display: none;
    top: 28px;
    left: 42px;
}

/* .photos .col-xl-12 .spec_pre h4{
    position: absolute;
    text-transform: uppercase;
    font-size: 28px;
    color: #ffffff;
    font-weight: 700;
    display: none;
    top: 28px;
    left: 42px;
}

.photos .col-xl-12 .spec_maga h4{
    position: absolute;
    text-transform: uppercase;
    font-size: 28px;
    color: #ffffff;
    font-weight: 700;
    display: none;
    top: 28px;
    left: 42px;
}

.photos .col-xl-12 .spec_color h4{
    position: absolute;
    text-transform: uppercase;
    font-size: 28px;
    color: #ffffff;
    font-weight: 700;
    display: none;
    top: 28px;
    left: 42px;
}

.photos .col-xl-12 .spec_bus h4{
    position: absolute;
    text-transform: uppercase;
    font-size: 28px;
    color: #ffffff;
    font-weight: 700;
    display: none;
    top: 28px;
    left: 42px;
}

.photos .col-xl-12 .spec_car h4{
    position: absolute;
    text-transform: uppercase;
    font-size: 28px;
    color: #ffffff;
    font-weight: 700;
    display: none;
    top: 28px;
    left: 42px;
} */

.photos .col-xl-12 .spec_bike:hover h4{
    display: block;
}

/* .photos .col-xl-12 .spec_pre:hover h4{
    display: block;
}

.photos .col-xl-12 .spec_maga:hover h4{
    display: block;
}

.photos .col-xl-12 .spec_color:hover h4{
    display: block;
}

.photos .col-xl-12 .spec_bus:hover h4{
    display: block;
}

.photos .col-xl-12 .spec_car:hover h4{
    display: block;
} */

/* End of the photo hovers */

.people{
    background: #f2f2f2;
}

.people .col-xl-12 h3{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
    margin: 54px auto 74px;
    padding-bottom: 12px;
    border-bottom: 1px solid #7f6969;
}

.people .col-xl-12 h3 span{
    color: #fc635e;
}

.people .col-xl-4 h4{
    font-size: 28px;
    font-weight: 500;
    margin: 26px auto 12px;
}

.people .col-xl-4 h4 span{
    color: #fc635e;
}

.people .col-xl-4 h6{
    font-size: 20px;
    color: #565656;
    margin-bottom: 13px;
}

.people .col-xl-4 .social{
    width: 147px;
    margin-bottom: 70px;    
}

.people .col-xl-4 .social .fa{
    padding: 8px 9px;
    color: #fff;
    background: #644d4d;
    border-radius: 50%;
    border: 3px solid transparent;
}

.people .col-xl-4 .social .fa:hover{
    border: 3px solid #644d4d;
    color: #644d4d;
    background: #fff;
    
}

.people .col-xl-4 .social .fa-facebook{
    padding: 8px 12px;
}

.people .col-xl-4 .social .fa-linkedin{
    padding: 8px 10px;
}

.people .fa-long-arrow-down{
    background: transparent;
    /* margin-top: 70px; */
}

.teg .col-xl-12 .teg_photo{
    padding-top: 52px;
    margin-bottom: 74px;
}

.teg .col-xl-10 p{
    width: 357px;
    font-size: 15px;
    color: #767676;
    font-weight: 300;
    text-align: center;
}

.name{
    width: 175px;
    height: 63px;
}

.name h5{
    font-size: 28px;
    font-weight: 500;
    color: #818181;
}

.name h5 span{
    color: #fc635e;
}

.name h6{
    font-size: 20px;
    font-weight: 300;
    color: #818181;
}

.richman img{
    margin-left: 7px;
}

path{
    border-radius: 50%;
    background-color: rgb(252, 99, 94);
    position: absolute;
    left: 643px;
    top: 6357px;
    width: 31px;
    height: 31px;
    z-index: 324;
    cursor: pointer !important;
}
  
svg{
      cursor: pointer;
}

.arrows{
    width: 88px;
    margin: 52px auto 165px;
}

.col-xl-12 .form_word{
    height: 95px;
    width: 158px;
    position: absolute;
    top: -70px;
    left: 43%;
}

.parent_form{
    position: relative;
}

.parent_form img{
    position: absolute;
    left: 41%;
    top: -125px;
}

.col-xl-12 .form_word p{
    width: 163px;
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    line-height: 21px;    
}

.col-xl-12 .form_word h6{
    font-size: 27px;
    font-weight: 500;
    color: #fff;
}

.map iframe{
    width: 100%;
    height: 340px;
}
  
footer{
    background: url(../images/footer_03.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 220px;
}

footer a{
    width: 185px;
    font-weight: 700;
    color: #ffffff;
    /* margin: 78px auto 43px; */
    margin-top: 50%; 
}

footer a:hover{
    color: #ffffff;
    text-decoration: none;
}

footer h5{
    font-size: 32px;
}
  