
.fullwarp{
		float: left;
		overflow: hidden;
		width: 408px;
		border: 4px solid #519597;
		height: 630px;
		margin: 100px;
		border-radius: 15px;
	}

/*NAME*/	
.calc_name{
	height: 50px;
	
	border-color: red;
	border-top: 2px solid #519597;
	border-bottom: 2px solid #519597;
	background: #5e9c9e;
	
	margin-bottom: 15px;
	margin-top: 17px;
	text-align: right;
}
.calc_name p{
	margin: 15px;
	color: white;
	font-family: "Verdana";
	font-size: 20px;
}

/*INPUT*/
input{
	outline: none;
	width: 380px;
	height: 50px;

	border: 4px solid #519597;
	border-radius: 10px;

	margin-right: 8px;
	margin-left: 8px;
}
input[type="text"]{
	text-align: right;
	color: #519597;
	font-family: "Verdana";
	font-weight:535;
	font-size: 30px;
}
input:hover{
	background: lightgray;
}



/*SQUARE*/
.square{
	box-sizing: border-box;
	border: 2px solid #519597;
	height:50px;
	width: 135px;
	margin-top: 13px;
	margin-left: 261px;
	margin-bottom: 23px;
	background: #5e9c9e ;
}


/*BUTTON*/
.fullbutton{
	overflow: hidden;
	margin-left:20px;
	text-align: center;
	font-size: 27px;
	color: #519597;
	font-family: "Helvetica";
	font-weight:530;
}
.button{
	box-sizing: border-box;
	width: 80px;
	height:80px;
	margin-right: 10px;
	border: 4px solid #519597;
	border-radius: 15px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	padding:20px;
}

.button:nth-child(5),
.button:nth-child(6),
.button:nth-child(7),
.button:nth-child(8),
.button:nth-child(9),
.button:nth-child(10),
.button:nth-child(11),
.button:nth-child(12){

	margin-bottom: 20px;
}


.button:hover,
.calc2_button:hover{
	color: palevioletred;
	border-color: #B4B6B6;
	background: #D8D8D8;
	box-shadow: 2px 2px #989898, 4px 4px #6c6666;
}

.button:active,
.calc2_button:active{
	background: skyblue;
	color: blueviolet;
}


/*BUTTON 2 CALC(POSITION)*/
.calc2_fullbutton{
	position: relative;
	margin-left:20px;
	text-align: center;
	font-size: 27px;
	color: #519597;
	font-family: "Helvetica";
	font-weight:530;
}
.calc2_button{
	position: absolute;
	box-sizing: border-box;
	width: 80px;
	height:80px;
	margin-right: 10px;
	border: 4px solid #519597;
	border-radius: 15px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	padding:20px;
}

.calc2_button:nth-child(2){
	left: 95px;
}
.calc2_button:nth-child(3){
	left: 190px;
}
.calc2_button:nth-child(4){
	left: 285px;
}
.calc2_button:nth-child(5){
	top:95px;
}	
.calc2_button:nth-child(6){
	left: 95px;
	top: 95px;
}
.calc2_button:nth-child(7){
	top: 95px;
	left: 190px;
}
.calc2_button:nth-child(8){
	left: 285px;
	top: 95px;
}
.calc2_button:nth-child(9){
	top:195px;
}	
.calc2_button:nth-child(10){
	left: 95px;
	top:195px;
}
.calc2_button:nth-child(11){
	top:195px;
	left: 190px;
}
.calc2_button:nth-child(12){
	left: 285px;
	top:195px;
}
.calc2_button:nth-child(13){
	top:295px;
}	
.calc2_button:nth-child(14){
	left: 95px;
	top:295px;
}
.calc2_button:nth-child(15){
	top:295px;
	left: 190px;
}
.calc2_button:nth-child(16){
	left: 285px;
	top:295px;
}

